
# Created by .ignore support plugin (hsz.mobi)

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/


# JavaScript
npm-debug.log
node_modules/
*.js.map


# Sass
.sass-cache/
*.css.map