.portfolio-header {
  position: relative;
  background: #0288D1; }

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mdl-layout__title {
  font-size: 16px;
  text-align: center;
  font-weight: 200; }

.is-compact .mdl-layout__title span {
  display: none; }

.portfolio-logo-row {
  min-height: 200px; }

.is-compact .portfolio-logo-row {
  min-height: auto; }

.portfolio-logo {
  background: url(/image/leaf_white.png) 50% no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: auto auto 20px; }

.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin: auto; }

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.2);
  height: 45px; }

.portfolio-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%; }

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px; }
  .portfolio-navigation-row .mdl-navigation__link:hover {
    background-color: rgba(197, 197, 197, 0.1); }

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold; }

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #FF6E40;
  left: 0; }

.portfolio-card .mdl-card__title {
  padding-bottom: 0; }

.mdl-card__title {
  margin: 0 10px 0 10px; }

img.article-image {
  width: 100%;
  height: auto; }

.portfolio-max-width {
  max-width: 900px;
  margin: auto; }

.portfolio-copy {
  margin: 0 30px 0 30px; }

.no-padding {
  padding: 0; }

.no-left-padding {
  padding-left: 0; }

.no-bottom-padding {
  padding-bottom: 0; }

.padding-top {
  padding: 10px 0 0; }

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px; }

.demo-card-event > .mdl-card__actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.portfolio-contact .mdl-textfield {
  width: 100%; }

.accounts-wrapper {
  display: table;
  width: 80%;
  margin: 20px auto 20px;
  table-layout: fixed; }

.account-box {
  font-size: 50px;
  display: table-cell;
  text-align: center; }

.account-icon {
  color: #455A64;
  -webkit-animation: smallout ease-in-out 0.5s forwards;
          animation: smallout ease-in-out 0.5s forwards; }
  .account-icon:hover {
    -webkit-animation: largeout ease-in-out 0.5s forwards;
            animation: largeout ease-in-out 0.5s forwards;
    color: #607D8B; }

.works-wrapper {
  display: table;
  width: 80%;
  margin: 20px auto 20px;
  table-layout: fixed; }

.work-box {
  display: table-cell;
  text-align: center; }

.work {
  background-size: cover;
  height: auto;
  width: 150px; }

.portfolio-link {
  color: #5C6BC0; }

.footer {
  background-color: #546E7A;
  background-size: cover; }

@media (max-width: 768px) {
  .accounts-wrapper, .account-box {
    display: block; }
  .account-box {
    font-size: 70px;
    margin: 20px auto; }
  .works-wrapper, .work-box {
    display: block; }
  .work-box {
    margin: 20px auto; }
  .work {
    background-size: cover;
    height: auto;
    width: 200px; } }

@-webkit-keyframes largeout {
  10% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  85% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@keyframes largeout {
  10% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  85% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); } }

@-webkit-keyframes smallout {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  85% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes smallout {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  85% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
