.portfolio-header {
  position: relative;
  background: #0288D1;
}

.portfolio-header .mdl-layout__header-row {
  padding:0;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 16px;
  text-align: center;
  font-weight: 200;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 250px;
}

.portfolio-logo {
  background: url(/image/leaf_white.png) 50% no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: auto auto 20px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row .mdl-navigation__link {
  text-align: center;
  max-width: 1000px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  flex: 1;
  width: 150px;
  line-height: 42px;
  &:hover {
    background-color: rgba(197, 197, 197, 0.10);
  }
}

.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: #FF6E40;
  left: 0;
}
